extends layout

block content
  form(method="POST", action="/cloudflare/getHeaders")
    h1 welcome to cloudflare assignment 01~
    p please fill in some form-value(s) here
    textarea(id='customValues', name='customValues', rows=10, cols=100, placeholder='{ "ageHeader": 18, "nameHeader": "Jason" }')
    br

    input(type='submit', value='execute')

    // p Welcome to #{title}
    // { "age": 12, "name": "Jackie" }
