body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.description {
  font-size: 1.2rem;
  padding: 40px 80px;
  border-radius: 20px;
  background-color: #aaa;
  color: white;
}

.redtext {
  color: #ff0000;
  padding: 0px 4px;
}